<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">
<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html">
<META HTTP-EQUIV="REFRESH" CONTENT="60">
<META HTTP-EQUIV="EXPIRES" CONTENT="Sat, 01 Jan 2001 00:00:00 GMT">
<META HTTP-EQUIV="Set-Cookie" CONTENT="pagepath=servers; path=/">
<META HTTP-EQUIV="Set-Cookie" CONTENT="host=; path=/">
<TITLE>green : SolarProbe - Status @ Mon Feb 02 21:37:39 2026</TITLE>

<!-- Styles for the Xymon body  -->
<link rel="stylesheet" type="text/css" href="gifs/xymonbody.css">

<!-- Styles for the menu bar -->
<link rel="stylesheet" type="text/css" href="/menu/xymonmenu-blue.css">

<!-- The favicon image -->
<link rel="shortcut icon" href="gifs/favicon-green.ico">

</HEAD>

<BODY class="green">

<TABLE SUMMARY="Topline" WIDTH="100%">
<TR>
  <TD VALIGN=MIDDLE ALIGN=LEFT WIDTH="30%">
    <FONT FACE="Arial, Helvetica" SIZE="+1" COLOR="silver"><B>SolarProbe</B></FONT>
  </TD>
  <TD VALIGN=MIDDLE ALIGN=CENTER WIDTH="40%">
    <CENTER><FONT FACE="Arial, Helvetica" SIZE="+1" COLOR="silver"><B>Current Status</B></FONT></CENTER>
  </TD>
  <TD VALIGN=MIDDLE ALIGN=RIGHT WIDTH="30%">
   <FONT FACE="Arial, Helvetica" SIZE="+1" COLOR="silver"><B>Mon Feb 02 21:37:39 2026</B></FONT>
  </TD>
</TR>
<TR>
  <TD COLSPAN=3> <HR WIDTH="100%"> </TD>
</TR>
</TABLE>
<BR>

<CENTER> 

<A NAME=begindata>&nbsp;</A>
<A NAME=hosts-blk>&nbsp;</A>

<A NAME="group-_font_size_1_Xymon_infrastructure_font"></A>

<CENTER><TABLE SUMMARY="_font_size_1_Xymon_infrastructure_font Group Block" BORDER=0 CELLPADDING=2>
<TR><TD VALIGN=MIDDLE ROWSPAN=2><CENTER><FONT COLOR="#FFFFF0" SIZE="+1"><font size="+1">Xymon infrastructure</font></FONT></CENTER></TD>
 <TD ALIGN=CENTER VALIGN=BOTTOM WIDTH=45>
 <A HREF="/xymon-cgi/columndoc.sh?apt"><FONT COLOR="#87a9e5" SIZE="-1"><B>apt</B></FONT></A> </TD>
 <TD ALIGN=CENTER VALIGN=BOTTOM WIDTH=45>
 <A HREF="/xymon-cgi/columndoc.sh?clientlog"><FONT COLOR="#87a9e5" SIZE="-1"><B>clientlog</B></FONT></A> </TD>
 <TD ALIGN=CENTER VALIGN=BOTTOM WIDTH=45>
 <A HREF="/xymon-cgi/columndoc.sh?conn"><FONT COLOR="#87a9e5" SIZE="-1"><B>conn</B></FONT></A> </TD>
 <TD ALIGN=CENTER VALIGN=BOTTOM WIDTH=45>
 <A HREF="/xymon-cgi/columndoc.sh?cpu"><FONT COLOR="#87a9e5" SIZE="-1"><B>cpu</B></FONT></A> </TD>
 <TD ALIGN=CENTER VALIGN=BOTTOM WIDTH=45>
 <A HREF="/xymon-cgi/columndoc.sh?disk"><FONT COLOR="#87a9e5" SIZE="-1"><B>disk</B></FONT></A> </TD>
 <TD ALIGN=CENTER VALIGN=BOTTOM WIDTH=45>
 <A HREF="/xymon-cgi/columndoc.sh?files"><FONT COLOR="#87a9e5" SIZE="-1"><B>files</B></FONT></A> </TD>
 <TD ALIGN=CENTER VALIGN=BOTTOM WIDTH=45>
 <A HREF="/xymon-cgi/columndoc.sh?http"><FONT COLOR="#87a9e5" SIZE="-1"><B>http</B></FONT></A> </TD>
 <TD ALIGN=CENTER VALIGN=BOTTOM WIDTH=45>
 <A HREF="/xymon-cgi/columndoc.sh?info"><FONT COLOR="#87a9e5" SIZE="-1"><B>info</B></FONT></A> </TD>
 <TD ALIGN=CENTER VALIGN=BOTTOM WIDTH=45>
 <A HREF="/xymon-cgi/columndoc.sh?inode"><FONT COLOR="#87a9e5" SIZE="-1"><B>inode</B></FONT></A> </TD>
 <TD ALIGN=CENTER VALIGN=BOTTOM WIDTH=45>
 <A HREF="/xymon-cgi/columndoc.sh?kern"><FONT COLOR="#87a9e5" SIZE="-1"><B>kern</B></FONT></A> </TD>
 <TD ALIGN=CENTER VALIGN=BOTTOM WIDTH=45>
 <A HREF="/xymon-cgi/columndoc.sh?libs"><FONT COLOR="#87a9e5" SIZE="-1"><B>libs</B></FONT></A> </TD>
 <TD ALIGN=CENTER VALIGN=BOTTOM WIDTH=45>
 <A HREF="/xymon-cgi/columndoc.sh?memory"><FONT COLOR="#87a9e5" SIZE="-1"><B>memory</B></FONT></A> </TD>
 <TD ALIGN=CENTER VALIGN=BOTTOM WIDTH=45>
 <A HREF="/xymon-cgi/columndoc.sh?mq"><FONT COLOR="#87a9e5" SIZE="-1"><B>mq</B></FONT></A> </TD>
 <TD ALIGN=CENTER VALIGN=BOTTOM WIDTH=45>
 <A HREF="/xymon-cgi/columndoc.sh?msgs"><FONT COLOR="#87a9e5" SIZE="-1"><B>msgs</B></FONT></A> </TD>
 <TD ALIGN=CENTER VALIGN=BOTTOM WIDTH=45>
 <A HREF="/xymon-cgi/columndoc.sh?ports"><FONT COLOR="#87a9e5" SIZE="-1"><B>ports</B></FONT></A> </TD>
 <TD ALIGN=CENTER VALIGN=BOTTOM WIDTH=45>
 <A HREF="/xymon-cgi/columndoc.sh?procs"><FONT COLOR="#87a9e5" SIZE="-1"><B>procs</B></FONT></A> </TD>
 <TD ALIGN=CENTER VALIGN=BOTTOM WIDTH=45>
 <A HREF="/xymon-cgi/columndoc.sh?smtp"><FONT COLOR="#87a9e5" SIZE="-1"><B>smtp</B></FONT></A> </TD>
 <TD ALIGN=CENTER VALIGN=BOTTOM WIDTH=45>
 <A HREF="/xymon-cgi/columndoc.sh?sslcert"><FONT COLOR="#87a9e5" SIZE="-1"><B>sslcert</B></FONT></A> </TD>
 <TD ALIGN=CENTER VALIGN=BOTTOM WIDTH=45>
 <A HREF="/xymon-cgi/columndoc.sh?trends"><FONT COLOR="#87a9e5" SIZE="-1"><B>trends</B></FONT></A> </TD>
 <TD ALIGN=CENTER VALIGN=BOTTOM WIDTH=45>
 <A HREF="/xymon-cgi/columndoc.sh?uptime"><FONT COLOR="#87a9e5" SIZE="-1"><B>uptime</B></FONT></A> </TD>
</TR>
<TR><TD COLSPAN=20><HR WIDTH="100%"></TD></TR>

<TR class=line>
 <TD NOWRAP ALIGN=LEFT><A NAME="www.xymon.com">&nbsp;</A>
<FONT SIZE="+1" COLOR="#FFFFCC" FACE="Tahoma, Arial, Helvetica"><span title="116.203.250.29">www.xymon.com</span></FONT><TD ALIGN=CENTER><A HREF="/xymon-cgi/svcstatus.sh?HOST=www.xymon.com&amp;SERVICE=apt"><IMG SRC="gifs/yellow.gif" ALT="apt:yellow:nopropagate:132d06h46m" TITLE="apt:yellow:nopropagate:132d06h46m" HEIGHT="16" WIDTH="16" BORDER=0></A></TD>
<TD ALIGN=CENTER><A HREF="/xymon-cgi/svcstatus.sh?HOST=www.xymon.com&amp;SERVICE=clientlog"><IMG SRC="gifs/green.gif" ALT="clientlog:green:116.203.250.29" TITLE="clientlog:green:116.203.250.29" HEIGHT="16" WIDTH="16" BORDER=0></A></TD>
<TD ALIGN=CENTER><A HREF="/xymon-cgi/svcstatus.sh?HOST=www.xymon.com&amp;SERVICE=conn"><IMG SRC="gifs/clear.gif" ALT="conn:clear:575d08h15m" TITLE="conn:clear:575d08h15m" HEIGHT="16" WIDTH="16" BORDER=0></A></TD>
<TD ALIGN=CENTER><A HREF="/xymon-cgi/svcstatus.sh?HOST=www.xymon.com&amp;SERVICE=cpu"><IMG SRC="gifs/green.gif" ALT="cpu:green:575d07h39m" TITLE="cpu:green:575d07h39m" HEIGHT="16" WIDTH="16" BORDER=0></A></TD>
<TD ALIGN=CENTER><A HREF="/xymon-cgi/svcstatus.sh?HOST=www.xymon.com&amp;SERVICE=disk"><IMG SRC="gifs/green.gif" ALT="disk:green:575d07h39m" TITLE="disk:green:575d07h39m" HEIGHT="16" WIDTH="16" BORDER=0></A></TD>
<TD ALIGN=CENTER><A HREF="/xymon-cgi/svcstatus.sh?HOST=www.xymon.com&amp;SERVICE=files"><IMG SRC="gifs/clear.gif" ALT="files:clear:575d07h39m" TITLE="files:clear:575d07h39m" HEIGHT="16" WIDTH="16" BORDER=0></A></TD>
<TD ALIGN=CENTER><A HREF="/xymon-cgi/svcstatus.sh?HOST=www.xymon.com&amp;SERVICE=http"><IMG SRC="gifs/green.gif" ALT="http:green:19d04h47m" TITLE="http:green:19d04h47m" HEIGHT="16" WIDTH="16" BORDER=0></A></TD>
<TD ALIGN=CENTER><A HREF="/xymon-cgi/svcstatus.sh?HOST=www.xymon.com&amp;SERVICE=info"><IMG SRC="gifs/green.gif" ALT="info:green:116.203.250.29" TITLE="info:green:116.203.250.29" HEIGHT="16" WIDTH="16" BORDER=0></A></TD>
<TD ALIGN=CENTER><A HREF="/xymon-cgi/svcstatus.sh?HOST=www.xymon.com&amp;SERVICE=inode"><IMG SRC="gifs/green.gif" ALT="inode:green:575d07h39m" TITLE="inode:green:575d07h39m" HEIGHT="16" WIDTH="16" BORDER=0></A></TD>
<TD ALIGN=CENTER><A HREF="/xymon-cgi/svcstatus.sh?HOST=www.xymon.com&amp;SERVICE=kern"><IMG SRC="gifs/clear.gif" ALT="kern:clear:154d05h16m" TITLE="kern:clear:154d05h16m" HEIGHT="16" WIDTH="16" BORDER=0></A></TD>
<TD ALIGN=CENTER><A HREF="/xymon-cgi/svcstatus.sh?HOST=www.xymon.com&amp;SERVICE=libs"><IMG SRC="gifs/green.gif" ALT="libs:green:2d23h16m" TITLE="libs:green:2d23h16m" HEIGHT="16" WIDTH="16" BORDER=0></A></TD>
<TD ALIGN=CENTER><A HREF="/xymon-cgi/svcstatus.sh?HOST=www.xymon.com&amp;SERVICE=memory"><IMG SRC="gifs/green.gif" ALT="memory:green:575d07h39m" TITLE="memory:green:575d07h39m" HEIGHT="16" WIDTH="16" BORDER=0></A></TD>
<TD ALIGN=CENTER><A HREF="/xymon-cgi/svcstatus.sh?HOST=www.xymon.com&amp;SERVICE=mq"><IMG SRC="gifs/green.gif" ALT="mq:green:192d09h47m" TITLE="mq:green:192d09h47m" HEIGHT="16" WIDTH="16" BORDER=0></A></TD>
<TD ALIGN=CENTER><A HREF="/xymon-cgi/svcstatus.sh?HOST=www.xymon.com&amp;SERVICE=msgs"><IMG SRC="gifs/green.gif" ALT="msgs:green:17d17h26m" TITLE="msgs:green:17d17h26m" HEIGHT="16" WIDTH="16" BORDER=0></A></TD>
<TD ALIGN=CENTER><A HREF="/xymon-cgi/svcstatus.sh?HOST=www.xymon.com&amp;SERVICE=ports"><IMG SRC="gifs/clear.gif" ALT="ports:clear:575d07h39m" TITLE="ports:clear:575d07h39m" HEIGHT="16" WIDTH="16" BORDER=0></A></TD>
<TD ALIGN=CENTER><A HREF="/xymon-cgi/svcstatus.sh?HOST=www.xymon.com&amp;SERVICE=procs"><IMG SRC="gifs/clear.gif" ALT="procs:clear:575d07h39m" TITLE="procs:clear:575d07h39m" HEIGHT="16" WIDTH="16" BORDER=0></A></TD>
<TD ALIGN=CENTER><A HREF="/xymon-cgi/svcstatus.sh?HOST=www.xymon.com&amp;SERVICE=smtp"><IMG SRC="gifs/green-recent.gif" ALT="smtp:green:15m" TITLE="smtp:green:15m" HEIGHT="16" WIDTH="16" BORDER=0></A></TD>
<TD ALIGN=CENTER><A HREF="/xymon-cgi/svcstatus.sh?HOST=www.xymon.com&amp;SERVICE=sslcert"><IMG SRC="gifs/green.gif" ALT="sslcert:green:19d04h47m" TITLE="sslcert:green:19d04h47m" HEIGHT="16" WIDTH="16" BORDER=0></A></TD>
<TD ALIGN=CENTER><A HREF="/xymon-cgi/svcstatus.sh?HOST=www.xymon.com&amp;SERVICE=trends"><IMG SRC="gifs/green.gif" ALT="trends:green:116.203.250.29" TITLE="trends:green:116.203.250.29" HEIGHT="16" WIDTH="16" BORDER=0></A></TD>
<TD ALIGN=CENTER><A HREF="/xymon-cgi/svcstatus.sh?HOST=www.xymon.com&amp;SERVICE=uptime"><IMG SRC="gifs/green.gif" ALT="uptime:green:2d22h21m" TITLE="uptime:green:2d22h21m" HEIGHT="16" WIDTH="16" BORDER=0></A></TD>
</TR>

</TABLE></CENTER><BR>
<A NAME=hosts-blk-1>&nbsp;</A>

<TABLE SUMMARY="Bottomline" WIDTH="100%">
<TR>
  <TD> <HR WIDTH="100%"> </TD>
</TR>
<TR>
  <TD ALIGN=RIGHT><FONT FACE="Arial, Helvetica" SIZE="-2" COLOR="silver"><B><A HREF="http://xymon.sourceforge.net/" style="text-decoration: none">SolarProbe 0.1.0</A></B></FONT></TD>
</TR>
</TABLE>

<!-- Don't rely just on HTML to set the cookies -->
<!-- http://lists.xymon.com/pipermail/xymon/2018-June/045538.html -->
<script type="text/javascript">
    var metas = document.getElementsByTagName('meta');

    for (var i=0; i<metas.length; i++) {
        var type = metas[i].getAttribute("HTTP-EQUIV");
        if (type == "Set-Cookie") {
            var prop = metas[i].getAttribute("CONTENT");
            document.cookie = prop;
        }
    }
</script>



</BODY>
</HTML>
